.category-page{
    display: flex;
        // padding-bottom: 2rem;
        padding: 2rem;
        @media(max-width:1200px){
            padding: 0rem;
            padding-top: 2rem;
        }
        .filter-sidebar{
            padding: 2rem !important;
        
        }
        .main-content{
            h6{
                padding: 0.3rem;
            }
        }
        }

        .Category-rating{
            background-color: green;
            color: white;
            width: 1.6rem;
            height: 26px;
            border-radius: 0.1rem;
            display: flex;
            gap:0.8rem;
            align-items: center;

            .Category-rating-points{
                color: black;
            }
        
}

.filter-group{
    .category-apply{
        background: linear-gradient(90deg, rgb(196, 70, 255) -14.33%, rgb(120, 1, 251) 38.59%, rgb(62, 0, 130) 98.88%) ;
    }
}